{% extends 'baselogin.html' %}

{% block title %}Login{% endblock %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <form action="{{ form_action }}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field.as_widget }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
                <form action="{% url "signup"%}">
                    <div class="space">
                        <button type="register" class="btn btn-primary">Регистрация</button>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}