{% extends 'base.html' %}


{% block title %}pics{% endblock %}

{% block content %}


    <h1>Картины</h1>
    <div class="container" style="max-width: 800px">
        <div class="jumbotron">
            <div class="row">
                {% for el in data %}
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <div class='profile_avatar_full' style="background: url('/media/{{el.image}}') no-repeat center;background-size: contain;">
                            </div>
                            <div class="caption">
                                <p>{{ el.name }}</p>
                                <p>{{ el.description }}</p>
                                {% if el.price %}
                                <p>Цена: {{ el.price }} рублей</p>
                                {% else %}
                                    <p>Цена: договорная</p>
                                {% endif %}
                                <form action="{% url 'like_post' %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-default" type="submit", id="like" name="post_id", value="{{ el.id }}">
                                        {{ el.total_likes }}
                                    </button>
                                    <span class="glyphicon glyphicon-heart"></span>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
       </div>
    </div>

<div class="pagination">
<div align="center" class="thumbnail" style="max-width: 800px">
    {% if data.has_previous %}
{#        <a style="font-size: 14px; color: #ce8483" href="?page=1">начало</a>#}
        <a style="font-size: 20px; color: #ce8483" href="?page={{ data.previous_page_number }}">предыдущая</a>
    {% endif %}


    {% for num in data.paginator.page_range %}
        {% if data.number == num %}
            <strong style="font-size: 20px; color: #ce8483">{{ num }}</strong>
        {% elif num > data.number|add:'-3' and num < data.number|add:'3' %}
            <a style="font-size: 20px; color: #ce8483"  href="?page={{ data.paginator.num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if data.has_next %}
        <a style="font-size: 20px; color: #ce8483"  href="?page={{ data.next_page_number }}">следующая</a>
{#        <a style="font-size: 14px; color: #ce8483" href="?page={{ data.paginator.num_pages }}">конец</a>#}
    {% endif %}
</div>

</div>

{% endblock %}