{% extends 'base.html' %}
{% load static %}
{% block title %} {{ task.name }} {% endblock %}
{% block content %}
    {% include 'menu.html' with user=user %}
    <div class = "task">
        <div class='task_image_full'
            style="background: url('/media/{{pic.image}}') no-repeat center;
                             background-size: contain;">
        </div>
        <div class = "description">
            <table>
            <tr>
                <td>Картина:</td> <td>{{pic.name}}</td>
            </tr>
            <tr>
                <td>Описание:</td> <td>{{ pic.description }}</td>
            </tr>
            <tr>
                <td>Автор: </td> <td>{{ pic.author }}</td>
            </tr>
            </table>
        </div>
    </div>
    <div class=action_bar>
         {% if is_executor %}
            {% if last_executor %}
                <form action="{% url 'dzrip: picture_remove' pic.id%}">
                <div class="space">
                    <button type="submit" class="btn btn-primary">Удалить картину</button>
                </div>
                </form>
            {% endif %}
        {% else %}
        {% endif %}
    </div>
 {% endblock %}