{% extends 'base.html' %}


{% block title %}Profile{% endblock %}

{% block content %}
    <h1>Моя страница</h1>
    <div class=container>
        <p>
            <h2 small style= "font-size: 25px; font-family: 'Al Nile'">Имя пользователя: {{ user }}</h2>
            <h2 small style= "font-size: 25px; font-family: 'Al Nile'">Имя: {{ user.first_name }}</h2>
            <h2 small style= "font-size: 25px; font-family: 'Al Nile'">Фамилия: {{ user.last_name }}</h2>
            <h2 small style= "font-size: 25px; font-family: 'Al Nile'">Почта: {{ user.email }}</h2>

        </p>
        <a style="color: #d58512; font-size: 25px; background-color: #ffdfe5" href="/profile/edit"> Изменить личную информацию </a>
        <br>
        <a style="font-size: 30px; background-color: #ac2925; color: #ffdfe5 " href="/logout">Выход</a>

    </div>

{% endblock %}
