{% extends 'basenotlog.html' %}


{% block title %}Регистрация{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <form action="/registration/" enctype="multipart/form-data" method="post" class="form-signin">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field.as_widget }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}